<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>Dicas de um Desenvolvedor</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home-image.svg" alt="Imagem Home Help Desk">
  <mat-card-content>
    <p style="font-style: normal; color: blueviolet; font-size: 25px; line-height: 1.6;">
      Sistema Help Desk, desenvolvido por mim durante o curso de Desenvolvedor Full Stack.<br />
      Este é um sistema de gerenciamento de chamados, simulando um Help Desk simples, desenvolvido utilizando Angular 12 e
      Spring Boot 2, para fins de estudos.
    </p>   
    <p style="text-align: center; margin-top: 30px; font-size: 14px; color: gray;">
      &copy; 2024 Edson Carlos de Meira. Todos os direitos reservados.
    </p>
  </mat-card-content>
</mat-card>
